<h3 style="display: inline-block">{{message1}}</h3>
<div class="pull-right">
  <button style="background-color: rgb(225, 225, 225); margin-top:0px; border: 2px solid #ff6600; color: #ff6600" ng-click="goToCreate()"><i class="fa fa-plus" style="font-size:18px">&nbsp;Add User</i></button>
</div>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>CITY</th>
        <th>COMPANY</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in userlist" ng-click="selectUser();">
        <td><img ng-src="{{user.profilePic}}" class="img-circle" alt="profile picture"></td>
        <td>{{user.firstName + user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address.city}}</td>
        <td>{{user.company.name}}</td>
      </tr>
    </tbody>
  </table>
</div>